<%= form_for [:admin, @user] do |f| %>

	<%= render 'error_messages', object: f.object %>
	<ul class="form col2">
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</li>
	</ul>
	<ul class="form col2">
		<li>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</li>
		<li>
			<%= f.label :level %>
			<%= f.select :level, Snapuser.levels %>
		</li>
	</ul>
	<div id="clear"></div>

	<ul class="center">
		<li>
			<%= f.submit %>
		</li>
	</ul>
<% end %>